html {
  box-sizing: border-box;
  font-size: 6vw;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
body {
  background: #eeeeee;
  overflow-y: hidden;
}
.toolbar {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: royalblue;
  color: white;
  padding: 0.5rem;
  width: 100%;
}
.toolbar-bottom {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: black;
  color: white;
  padding: 0.5rem;
  width: 100%;
}
.toolbar .menu {
  display: grid;
  width: 100%;
  grid-gap: 0.75rem;
  grid-template-columns: auto 1fr auto;
  grid-auto-flow: row dense;
}
.toolbar .menu > * {
  align-self: center;
}
#titleContainer {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: auto 1fr auto;
  grid-auto-flow: row dense;
}
.cardcontainer {
  background-color: #eeeeee;
  padding: 0.5rem;
  overflow-y: auto;
}
.cardcontainer .card {
  margin-bottom: 0.5rem;
  height: auto;
}
.card {
  color: black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: white;
  padding: 0.5rem;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.card hr {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.search {
  width: 100%;
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: auto 1fr auto;
  grid-auto-flow: row dense;
}
.search > * {
  align-self: center;
}
.search input {
  width: 100%;
  border-width: 0px;
}
.search .action {
  align-self: start;
}
.search .action .smallIcon {
  float: left;
}
input {
  border-bottom: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  user-select: all;
  outline: none;
}
.icon {
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1.4rem;
  color: #606060;
}
.smallIcon {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  color: #606060;
}
.menu .icon {
  color: lightgrey;
}
.menu .smallicon {
  color: lightgrey;
}
.card .smallIcon {
  float: right;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.list {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: 1rem 1fr 1.4rem;
  grid-auto-flow: row dense;
  max-height: calc(95vh - 10rem);
  overflow: auto;
}
.list > * {
  align-self: center;
}
.list .add {
  color: #606060;
  font-style: italic;
}
#about .card {
  text-align: justify;
  font-size: 4vw;
  margin: 0;
}
#about .card h1 {
  font-size: 9vw;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
#about .card h2 {
  font-size: 4vw;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
#about .logo {
  display: block;
  width: 75%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
#drawer .left {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 70%;
  height: 100%;
  color: black;
  background-color: white;
  display: block;
  transition: left 0.2s;
}
#drawer .right {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  transition: visibility 0.2s, opacity 0.2s;
}
#drawer ul {
  list-style: none;
}
#drawer li {
  border-bottom: 1px solid lightgrey;
  padding: 0.75rem;
  background-color: white;
}
#drawer .header {
  width: 100%;
  height: 20%;
  background-color: royalblue;
  /*
  background-image: linear-gradient(to bottom right, royalblue,#7199F1);
  */
}
.widget {
  position: absolute;
  top: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#main {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto min-content;
  grid-auto-flow: row dense;
}
#license .card h1 {
  font-size: 6vw;
  font-weight: bold;
  text-align: left;
  margin-top: 0;
}
#robotoFontLicense .card {
  font-size: 3vw;
  white-space: pre-wrap;
}
a, a:link, a:visited, a:active {
  text-decoration: underline;
}
#framework {
  width: 100%;
  height: 100%;
}
.logo {
  box-shadow: 2px 5px 9px rgba(0,0,0,0.12), 2px 5px 9px rgba(0,0,0,0.24);
}