html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
}
body {
  background: #eeeeee;
  font-size: 16pt;
}
.toolbar {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: royalblue;
  color: white;
  padding: 0.75rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
}
.toolbar > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.toolbar-bottom {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: black;
  color: white;
  padding: 0.75rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
}
.toolbar .menu {
  display: grid;
  width: 100%;
  grid-gap: 1rem;
  grid-template-columns: auto 1fr auto;
  grid-auto-flow: row dense;
}
#titleContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto 1fr auto;
  grid-auto-flow: row dense;
}
.cardcontainer {
  padding: 0.5rem;
  margin-top: 7rem;
  margin-bottom: 3rem;
}
.cardcontainer .card {
  margin-bottom: 0.5rem;
}
.card {
  color: black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: white;
  padding: 0.75rem;
}
.search {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto 1fr auto;
  grid-auto-flow: row dense;
}
.search > * {
  align-self: center;
}
.search input {
  width: 100%;
  border-width: 0px;
}
input {
  font-size: inherit;
  border-bottom: 1px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}
.icon {
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1.4rem;
}
.smallIcon {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}
.card .smallIcon {
  float: right;
  color: #606060;
}
.search .icon {
  color: #606060;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1.4rem 1fr;
  grid-auto-flow: row dense;
}
.list > * {
  align-self: center;
}
.list .icon {
  color: #e0e0e0;
}
.info {
  position: absolute;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  z-index: 100;
  margin: 0;
  text-align: justify;
  font-size: 3vw;
}
.info h1 {
  font-size: 9vw;
  font-weight: normal;
  text-align: center;
}
.info h2 {
  font-size: 5vw;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}
.logo {
  display: block;
  width: 50%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}